<section id="booking">
  <div class="pl-container">
      <div class="">
          <img src="/assets/images/chez tino.jfif" alt="">
      </div>

      <div class="">
         <img src="/assets/images/aquacity.jfif" alt="">
     </div>

     <div class="">
         <img src="/assets/images/four a chaux.jfif" alt="">
     </div>

     <div class="">
         <img src="/assets/images/catamaran.jfif" alt="">
     </div>

     <div class="">
         <img src="/assets/images/l'assiete longtemps.jfif" alt="">
     </div>

     <div class="">
         <img src="/assets/images/splasn-n-fun.jfif" alt="">
     </div>




  </div>
</section>
