<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<section id="booking">

  <h1>Book Your Stay</h1>
  <div class="container mt-4">
  <form #myForm="ngForm">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Full Name</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="Name" required [(ngModel)]="fullName">
      </div>
      <div class="form-group">
        <label for="inputPassword4">Id Number</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Id Number" name="IdNumber" required [(ngModel)]="idNumber">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Email</label>
      <input type="email" class="form-control" id="inputAddress" placeholder="Email" name="Email" required [(ngModel)]="email">
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="inputCity">Phone Number</label>
        <input type="text" class="form-control" id="inputCity" name="PhoneNumber" required [(ngModel)]="phoneNo">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2" (click)="onReservation()">Book</button>
  </form>
</div>
</section>
