<section id="about">
<h1>Villa Maya</h1>

  <div class="grid-container">

      <div class="bedrooms para">
          <img src="/assets/images/double-bed.png" alt="">
          <p>6 Bedrooms</p>
      </div>

      <div class="garden para">
          <img src="/assets/images/gardening.png" alt="">
          <p>Garden Area</p>
      </div>

      <div class="wifi para">
          <img src="/assets/images/wifi-signal.png" alt="">
          <p>Wifi Access</p>
      </div>

      <div class="bbq para">
          <img src="/assets/images/barbecue.png" alt="">
          <p>Barbecue Facilities</p>
      </div>

      <div class="pool para">
          <img src="/assets/images/pool.png" alt="">
          <p>Infinity Pool</p>
      </div>

      <div class="aircon para">
        <img src="/assets/images/air-conditioning.png" alt="">
          <p>Air Conditioning</p>
      </div>

  </div>

  <div id="btn-container">
  <button id="btn">More Info</button>
  </div>
</section>
